@import "_mixins.scss";
@import "_variables.scss";


.appbar {
  width: 100%;
  height: 65px;
  text-indent: 10px;
  line-height: 65px;
  overflow: hidden;
  color: #000;
  &.raised {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  }
  > div {
    width: 95%;
    margin: 0 auto;
    height: 100%;
    > section{
      display: inline-block;
      &.left{
        width: 200px;
        height: 100%;
        display: inline-block;
        float: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        > label{
          margin-left: 10px;
        }
      }
      &.right{
        width: auto;
        height: 100%;
        display: flex;
        float: right;
        align-items: center;
        justify-content: flex-end;
        overflow: hidden;
      }
      > label{
        font-size: 16px;
        color: inherit;
        vertical-align: middle;
        font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
      }
      > button{
        color: inherit;
        > i {
          vertical-align: middle;
        }
      }
    }
  }
}

@media screen and (max-width: 500px){
  .appbar{
    > div{
      width: 100%;
      > section{
        &.left{
          width: 45%;
        }
        &.right{
          width: 40%
        }
        > button{
          width: 30px;
          height: 30px
        }
      }
    }
  }
}
