@import "_mixins.scss";
@import "_variables.scss";


$font: 'Roboto', san-serif;

$modal-primary-font: "Ubuntu", sans-serif;
$modal-secondary-font: "Rubik", sans-serif;
$modal-position: 2em;

[mui-card]{
  width: 300px;
  height: auto;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  > img{
    width: 100%;
    clear: both;
  }
  > .header{
    width: 90%;
    height: auto;
    margin: 0px auto;
    position: relative;
    top: 10px;
    > label{
      font-size: 18px;
      font-family: $modal-primary-font;
      font-weight: bold;
      color: inherit !important;
    }
    > span{
      display: block;
      color: color('grey');
      font-size: 12px;
      font-family: $modal-secondary-font;
      position: relative;
      top: 4px;
    }
  }
  > .main{
    width: 90%;
    height: auto;
    margin: 0px auto;
    padding-top: 10px;
  }
  > action{
    width: 95%;
    height: auto;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
     button{
      padding: 8px;
      display: inline-block;
     > i{
        vertical-align: middle;
      }
      &.round{
        width: 35px;
        height: 35px;
      }
    }
  }
}
