@import "_mixins.scss";
@import "_variables.scss";


@each $name, $sets in $colors {
  @each $type, $set in $sets {
    @if($type == 'base') {
      .#{$name} {
        background: $set !important;
      }
      .text-#{$name} {
        color: $set !important;
      }
    }
    @else{
      @each $key, $value in $set {
        .#{$name}-#{$type}-#{$key} {
          background: $value !important;
        }
        .text-#{$name}-#{$type}-#{$key} {
          color: $value !important;
        }
      }
    }
  }
}

@mixin colorClass($name) {
  &.outline {
    color: color($name, base) !important;
    background: transparent !important;
    border: color($name, base) 1px solid !important;
    &:hover {
      color: #fff !important;
      background: color($name, base) !important;
    }
  }

  &.text {
    background: transparent !important;
    color: color($name, base) !important;
  }

  &.checkbox {
    background: transparent !important;
    > input {
      &:checked {
        background: color($name, base) !important;
        & + span::before {
          border-color: color($name, base) !important;
          background: color($name, base) !important;
        }
      }
      &:active {
        & + span::before {
          border-color: color($name, base) !important;
        }
      }
    }
  }

  &.radio {
    background: transparent !important;
    input[type="radio"]:checked + label:before {
      border-color: color($name, base) !important;
    }
    label {
      &:after {
        background: color($name, base) !important;
      }
    }
  }

  &.switch {
    background: transparent !important;
    > input {
      &:checked {
        & ~ span {
          &:before {
            background: color($name, base, 0.5) !important;
          }
          &:after {
            left: 15px;
            background: color($name, base) !important;
            border-color: color($name, base) !important;
          }
        }
      }
    }
  }  
  &.text {
    > .rippleWave {
      background: color($name, base, 0.5) !important;
    }
  }
  &.range{
    background: color($name, base, 0.7);
      &::-webkit-slider-thumb{
          background: color($name, base);
      }
  }
}

$color_vars: white, red, pink, purple, indigo, blue, cyan, teal, green, lime, yellow, amber, orange, brown, grey, blue-grey;

 @include build-color-class($color_vars);
