$mobile-break-point: 600px;

@mixin build-grid(){
  @for $i from 1 through 100 {
    > [col= "#{$i}"]{
      flex-basis: #{$i+"%"};
    }
  }
}

[mui-row]{
  width: 100%;
  height: auto;
  display: flex;
}

[mui-row]{
  > * {
    flex: 1 1 auto;
  }
  @include build-grid();  
}


@media screen and (max-width: $mobile-break-point) {
  [mui-row] {
    flex-flow: column wrap;
    display: block;
    > * {
      flex: 0;
    }
  }
}
