aside(class='drawer'+type+shadow)
  div.header
    h3.title Matericious
    h6.subtitle info@matericious.com
  div.content
    nav.list
      a.night.ripple
        i.material-icons mail
        | Inbox
      a.night.ripple
        i.material-icons send
        | Send
      a.night.ripple
        i.material-icons favorite
        | Favorite
      a.night.ripple
        i.material-icons archive
        | Archive
      hr
      h6.subheader Labels
      a.night.ripple
        i.material-icons delete
        | Delete
      a.night.ripple
        i.material-icons add_box
        | Add Category
      a.night.ripple
        i.material-icons settings
        | Settings
