if title
  title #{title} Demo
else
  title Matericious Demo
meta(charset='utf-8')
meta(name='author' content='Matericious')
meta(name='description' content='Delicious Material framework')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet' href='https://cdn.rawgit.com/Matericious/Matericious/master/dist/css/matericious.min.css')
