- var cdn = "https://cdn.jsdelivr.net/npm/matericious@0.8.1";
if title
  title #{title} Demo
else
  title Matericious Demo
meta(charset='utf-8')
meta(name='author' content='Matericious')
meta(name='description' content='Delicious Framework with Material Components.')
meta(name='keywords' content='Material Design, Matericious, Framework, Web Components, CSS Grid, Material Ripple, Buttons, Carts, Drawer.')
meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto')
link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
link(rel='stylesheet' href=cdn+'/dist/css/matericious.min.css')
meta(name='og:url' content='https://matericious.com/')
if title
  meta(name='og:title' content=title+' Demo in Matericious Framework')
else
  meta(name='og:title' content='Matericious')
meta(name='og:description' content='Delicious Framework with Material Components.')
meta(name='og:type' content='website')
meta(name='og:image' content='https://matericious.com/assets/img/logo_banner.png')
meta(name='og:image:type' content='image/png')
meta(name='og:image:width' content='1200')
meta(name='og:image:height' content='630')
