- var title = 'Permanent Drawer'
doctype
html(lang='en')
  head
    include ../includes/head.pug
    style(type="text/css").
      body { margin: 0 }
  body
    -var type = ' permanent'
    -var shadow = ''
    include ../includes/drawer.pug
    header.appbar.purple.text-white.z-1
      div.wrap
        section.left
          a.wave.icon(drawer='push')
            i.material-icons menu
          label.title Matericious
        section.right
          a.wave Dashboard
          a.wave Account
    script(src='https://rawgit.com/Matericious/Matericious/master/dist/js/matericious.min.js')
