- var title = 'Push Drawer'
doctype
html(lang='en')
  head
    include ../includes/head.pug
    style(type="text/css").
      body { margin: 0 }
  body
    -var type = ''
    -var shadow = ''
    include ../includes/drawer.pug
    header.appbar.blue.text-white.z-1
      div.wrap
        section.left
          a.wave.icon(drawer='push')
            i.material-icons menu
          label.title Matericious
        section.right
          a.wave Dashboard
          a.wave Account
    include /includes/foot.pug
    script.
      new drawer();
