<!Doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Input</title>
  <meta name="author" content="Matericious">
  <meta name="description" content="Delicious Material framework">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://rawgit.com/Matericious/Matericious/master/dist/css/input.css">
</head>

<body>
  <div class="purple" mui-input>
    <input required="required" />
    <label>Label</label>
  </div><span>error</span><br/><br/>
  <div class="red" mui-input>
    <input required="required" />
    <label>Label</label>
  </div><span>error</span>
</body>

</html>
