<!Doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Loading Modal</title>
  <meta name="author" content="Matericious">
  <meta name="description" content="Delicious Material framework">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://rawgit.com/Matericious/Matericious/master/dist/css/modal.css">
</head>

<body>
  <modal-con></modal-con>

  <button onclick="Loading()">Loading Modal</button>

  <script src="https://rawgit.com/Matericious/Matericious/master/dist/js/loading.js"></script>
  <script>
    function Loading(){

      var data = {
         title: 'Please wait',
         message: 'Sending your data',
         overlay: false,
         time: 4000,
         pos: {
            vertical: 'bottom',
            horizontal: 'right',
         }
       };
    LoadingModal(data);
  }
    /*Basic Documentation*/
    /*
  var data = {
      title: 'Please wait',             // !Must have
      message: 'Sending your data',    // !Must have
      theme: 'dark',                  // !Optional  have
      overlay: false,                // !Optional  have
      time: null,                   // !Optional  have
      pos: {                       // !Optional  have
        vertical: 'bottom',       // !Optional  have
        horizontal: 'right',    // !Optional  have
      }
    };
   */
  </script>
</body>

</html>
