<!Doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Modal</title>
  <meta name="author" content="Matericious">
  <meta name="description" content="Delicious Material framework">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://rawgit.com/Matericious/Matericious/master/dist/css/modal.css">
</head>

<body>
  <modal-con></modal-con>

  <button onclick="messageModal()">Open Modal</button>

  <button onclick="decisionModal()">Decision Modal</button>

  <button onclick="inputModal()">Input Modal</button>
  
  <script src="https://rawgit.com/Matericious/Matericious/master/dist/js/modal.js"></script>
  <script>
    function messageModal() {
      var data = {
        type: 'message',
        title: 'Modal',
        message: 'This is a awesome modal',
        primaryButton: 'OK',
        overlayStyle: 'gradient red',
        // modalStyle: 'gradient earth'
      }
      Modal(data);
    }

    function decisionModal() {
      var data = {
        type: 'decision',
        message: 'Do you like Ice cream?',
        primaryButton: 'yes',
        secondaryButton: 'no',
        overlayStyle: 'gradient pink',
      }
      Modal(data, function(button) {
        if (button) {
          //User click primary button
        } else {
          //User click secondary button
        }
      });
    }

    function inputModal() {
      var data = {
        type: 'input',
        title: 'Personal Information',
        placeholder: 'Enter name',
        primaryButton: 'OK',
        overlayStyle: 'gradient yellow',
        // modalStyle: 'gradient earth'
      }
      Modal(data);
    }
  </script>
</body>

</html>
