- var title = 'Appbar'
doctype
html(lang='en')
    head
        include /includes/head.pug
    body
        h3= title
        br
        h4 Basic
        header.appbar.z-1
            .wrap
                section.left
                  label.title San Francisco
        br
        br
        h4 Default
        header.appbar.blue.z-1
            .wrap
                section.left
                    a.wave.icon
                        i.material-icons menu
                    label.title San Fransisco
                section.right
                    a.wave Dashboard
                    a.wave Favorite
                    a.wave Account
        br
        br
        h4 Nesting Appbar
        header.appbar.green.text-white.nesting.z-1
            .wrap
                section.left
                    a.wave.icon
                        i.material-icons menu
                    label.title San Fransisco
                section.right
                    a.nest.wave.icon(title='notifications')
                        i.material-icons notifications_none
                    a.nest.wave Dashboard
                    a.nest.wave Favorite
                    a.nest.wave Account
                    a.wave.icon(open-menu='nesting')
                        i.material-icons more_vert
        ul.menu.right(id='nesting')
        
        br
        br
        h4 With images
        header.appbar.pink.z-1
         .wrap
           section.left
             a.wave.icon
               img(src='https://matericious.com/assets/img/logo.png')
             label.title Matericious
           section.right
            a.wave Dashboard
            a.wave Favorite
            a.wave Account
        br
        br
        header.appbar.pink-light-4.z-1
          .wrap
             section.left
               a.wave
                img(src='https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png')
             section.right
                a.wave Dashboard
                a.wave Favorite
                a.wave Account
        br
        br
        header.appbar.red.z-1
         .wrap
           section.left
            a.wave.icon
              i.material-icons menu
            label.title San Fransisco
           section.right
             a.wave Dashboard
             a.wave Favorite
             a.wave Account
             
        include /includes/foot.pug
        script.
          new nesting();
          new menu();
