- var title = 'Appbar'
doctype
html(lang='en')
  head
    include /includes/head.pug
    style(type="text/css").
      .toplink { font-size: 18px; }
      iframe { width: 100%; height: 300px; margin-top: 10px }
  body
    h3 Appbar demo
    a.toplink(target='_blank' href='appbar/standard.html') Standard Appbar
    iframe(src='appbar/standard.html')
    br
    br
    a.toplink(target='_blank' href='appbar/fixed.html') Fixed Appbar
    iframe(src='appbar/fixed.html')
    br
    br
    a.toplink(target='_blank' href='appbar/dense.html') Dense Appbar
    iframe(src='appbar/dense.html')
    br
    br
    a.toplink(target='_blank' href='appbar/collapse.html') Collapse Appbar
    iframe(src='appbar/collapse.html')
    br
    br
    a.toplink(target='_blank' href='appbar/collapsed.html') Collapsed Appbar
    iframe(src='appbar/collapsed.html')
    br
    br
    a.toplink(target='_blank' href='appbar/nesting.html') Nesting Appbar
    iframe(src='appbar/nesting.html')
    br
    br
    a.toplink(target='_blank' href='appbar/with-image.html') Appbar With Logo
    iframe(src='appbar/with-image.html')
    br
    br
    a.toplink(target='_blank' href='appbar/with-search.html') Appbar With Search
    iframe(src='appbar/with-search.html')
