- var title = 'Buttons'
doctype
html(lang='en')
  head
    include /includes/head.pug
      body
          h3 Buttons
          - var colors = ['basic', 'green', 'grey', 'blue', 'red wave', 'yellow', 'pink', 'white'];
          each color in colors
            button(class='btn '+color)=color + ' button'
          hr
            
          h3 Input Submit Buttons
          - var submit_btns = ['green', 'red', 'blue', 'pink'];
          each cls in submit_btns
            input(class='btn '+cls type="submit" value="Input Submit")
          hr
          
          h3 Outline Buttons
          - var outlines = ['green', 'grey', 'blue', 'red', 'yellow', 'purple ripple', 'pink'];
          each outline in outlines
            button(class='btn outline '+outline)=outline + ' button'
          hr
          
          h3 Text Buttons
          button.btn.blue.wave.text Explore 
          button.btn.purple.ripple.text
            i.material-icons search
            | search
          hr
          
          h3 Icon Buttons
          button.btn.red
            i.material-icons favorite
            | Favorite
          button.btn.blue.ripple
            i.material-icons cloud_download
            | Download
          button.btn.green
            i.material-icons cloud_upload
            | Upload
          button.btn.gradient.red.wave
            i.material-icons restaurant
            | Restaurant
          hr
          
          h3 Animated Icon Buttons
          h4 Continous Animation
          button.btn.red
            i.material-icons(ani='left') arrow_back
            | &nbsp;Back
          button.btn.green Next&nbsp;
            i.material-icons(ani='right') arrow_forward
          button.btn.wave Reload&nbsp;
            i.material-icons(ani='rotate') refresh
          h4 One Time Animation
          button.btn.red
            i.material-icons(move='left') arrow_back
            | &nbsp;Back
          button.btn.green Next&nbsp;
            i.material-icons(move='right') arrow_forward
          button.btn.wave Reload&nbsp;
            i.material-icons(move='rotate') refresh
          hr
          
          h3 FAB Buttons
          - 
            var fabs = {
              'cloud_upload':'blue',
              'email':'red ripple',
              'shopping_basket':'grey ripple',
              'add_circle':'green', 
              'loyalty':'purple ripple',
              'done':'pink',
            };
          each icon,cls in fabs
            button(class='btn round '+icon)
              i.material-icons= cls
          hr
          
          h3 Icon Buttons
          button.btn(ts)
            i.material-icons shopping_basket
          button.btn(ts)
            i.material-icons favorite
          button.btn(ts)
            i.material-icons face
          script(src='https://rawgit.com/Matericious/Matericious/master/dist/js/ripple.js')
