- var title = 'Buttons'
doctype
html(lang='en')
  head
    include /includes/head.pug
      body
          h3 Buttons
          - var colors = ['basic', 'earth', 'night', 'ocean', 'red ripple', 'yellow', 'pink', 'snow'];
          each color in colors
            button(class='btn '+color)=color + ' button'
          hr
            
          h3 Input Submit Buttons
          - var submit_btns = ['earth', 'red', 'gradient ocean', 'gradient pink'];
          each cls in submit_btns
            input(class='btn '+cls type="submit" value="Input Submit")
          hr
          
          h3 Gradient Buttons
          - var grad_btns = ['earth', 'night', 'ocean', 'red', 'yellow', 'purple ripple', 'pink'];
          each grad in grad_btns
            button(class='btn gradient '+grad)= grad + ' gradient'
          hr
          
          h3 Outline Buttons
          - var outlines = ['earth', 'night', 'ocean', 'red', 'yellow', 'purple ripple', 'pink'];
          each outline in outlines
            button(class='btn outline '+outline)=outline + ' button'
          hr
          
          h3 Text Buttons
          button.btn.ocean.ripple.text Explore 
          button.btn.purple.ripple.text
            i.material-icons search
            | search
          hr
          
          h3 Icon Buttons
          button.btn.red
            i.material-icons favorite
            | Favorite
          button.btn.ocean
            i.material-icons cloud_download
            | Download
          button.btn.earth
            i.material-icons cloud_upload
            | Upload
          button.btn.gradient.red.ripple
            i.material-icons restaurant
            | Restaurant
          hr
          
          h3 Animated Icon Buttons
          h4 Continous Animation
          button.btn.red
            i.material-icons(ani='left') arrow_back
            | &nbsp;Back
          button.btn.earth Next&nbsp;
            i.material-icons(ani='right') arrow_forward
          button.btn.ripple Reload&nbsp;
            i.material-icons(ani='rotate') refresh
          h4 One Time Animation
          button.btn.red
            i.material-icons(move='left') arrow_back
            | &nbsp;Back
          button.btn.earth Next&nbsp;
            i.material-icons(move='right') arrow_forward
          button.btn.ripple Reload&nbsp;
            i.material-icons(move='rotate') refresh
          hr
          
          h3 FAB Buttons
          - 
            var fabs = {
              'cloud_upload':'ocean',
              'email':'red',
              'shopping_basket':'night',
              'add_circle':'earth', 
              'loyalty':'purple',
              'done':'pink',
            };
          each icon,cls in fabs
            button(class='btn round '+icon)
              i.material-icons= cls
          hr
          
          h3 Icon Buttons
          button.btn(ts)
            i.material-icons shopping_basket
          button.btn(ts)
            i.material-icons favorite
          button.btn(ts)
            i.material-icons face
