- var title = 'Checkbox'
- var css = 'checkbox'
doctype
html(lang='en')
  head
    include /includes/head.pug
  body
    h3= title
    - var colors = ['red', 'pink', 'purple', 'blue', 'cyan', 'teal', 'green', 'yellow', 'amber', 'orange'];
    each color in colors
      label(class='checkbox '+color)
        input(type='checkbox')
        span #{color}
        
  h3 Radio with text left
  - var textLeft = ['Google', 'Microsoft', 'Apple'];
    each text in textLeft
      label(class='checkbox txt-left')
           input(id=text type='checkbox' name='text')
           span(for=text)=text
