- var title = 'Gradient'
doctype
html(lang='en')
  head
    include /includes/head.pug
  body
    h3= title
    button.btn.wave(data-grad='earth yellow') Earth to Yellow
    button.btn.round.wave(data-grad='ocean cyan')
      i.material-icons loyalty
    button.btn.wave(data-grad='pink red') Pink to Red
    button.btn.wave(data-grad='cyan ocean') Ocean to Cyan
    button.btn.wave(data-grad='purple pink red') Purple to pink to red

    include /includes/foot.pug
