- var title = 'Gradient'
doctype
html(lang='en')
  head
    include /includes/head.pug
  body
    h3= title
    button.btn.wave(gradient='pink teal-light-1') pink to teal
    button.btn.round.wave(gradient='teal-light-1 green-dark-1')
      i.material-icons loyalty
    button.btn.wave(gradient='red yellow-light-1') red to yellow
    button.btn.wave(gradient='purple orange lightGreen') purple to orange to light Green
    button.btn.wave(gradient='purple pink red') Purple to pink to red

    include /includes/foot.pug
    script.
        gradient();
