doctype
html(lang='en')
  head
    meta(name='google-site-verification' content='fTNl-wLszkCnssF35ySb1gLtmG4yKqW6FmGrliCaIX4')
    include /includes/head.pug
  body
    h2 Matericious
    - 
      var components = {
        'appbar':'Appbar',
        'badge':'Badge',
        'buttons':'Buttons',
        'checkbox':'Checkbox',
        'chips':'Chips',
        'cards':'Cards',
        'drawer': 'Drawer',
        'dialog': 'Dialog',
        'progress': 'Progress',
        'loaders': 'Loaders',
        'grid': 'Grid',
        'tabs': 'Tabs',
        'table':'Table',
        'shadow':'Shadow',
        'colors':'Colors',
        'gradient':'Gradient',
        'input':'Input',
        'select':'Select',
        'radio':'Radio',
        'switch':'Switch',
        'slider':'Slider',
        'menu':'Menu',
        'lists':'Lists',
        'snackbar':'Snackbar',
        'typography':'Typography',
      };
    ul
      each name,file in components
        li
          a(href=file+'.html')=name
