doctype
html(lang='en')
  head
    include /includes/head.pug
  body
    h2 Matericious
    - 
      var components = {
        'appbar':'Appbar',
        'buttons':'Buttons',
        'checkbox':'Checkbox',
        'chips':'Chips',
        'cards':'Cards',
        'grid': 'Grid',
        'table':'Table',
        'shadow':'Shadow',
        'input':'Input',
        'radio':'Radio',
        'toggle':'Toggle',
        'range':'Range',
        'modal':'modal',
        'menu':'menu',
        'lists':'lists',
        'loading_modal':'Loading Modal',
        'snackbar':'Snackbar'
      };
    ul
      each name,file in components
        li
          a(href=file+'.html')=name
