- var title = 'Loader demo'
doctype
html(lang='en')
  head
    include /includes/head.pug
    style.
      input, select{
      padding: 12px;
      }
  body
    h3 Small Loader
    button(onclick="openLoader('small_loader')") Small Loader
    #small_loader.loader.small
      progress.circular
        
    h3 Base Loader
    button(onclick="openLoader('base_loader')") Base Loader
    #base_loader.loader.base
      label.title Loading
      progress.circular
       
    h3 Large Loader
    button(onclick="openLoader('large_loader')") Large Loader
    #large_loader.loader.large
      label.title Please wait
      span.subtext Sending data to server
      progress.circular
    br
    hr
    h3 Small Linear Loader
    button(onclick="openLoader('small_linear_loader')") Small Loader
    #small_linear_loader.loader.small.lin
     progress.linear  
    h3 Large Linear Loader
    button(onclick="openLoader('large_linear_loader')") Large Loader
    #large_linear_loader.loader.large.lin
     label.title Please wait
     progress.linear
    br
    hr
    h2 Build Custom Loader With JavaScript
    h3 Loader size
    select#size
      option(value='small') Small
      option(value='base') Base
      option(value='large') Large
    h3 Loader Type
    select#type
      option(value='circular') Circular
      option(value='linear') Linear
    h3 Loader Theme
    select#theme
      option(value='') Light
      option(value='dark') Dark
    h3 Loader Position - Vertical
    select#pos_ver
      option(value='top') Top
      option(value='center') Center
      option(value='bottom') Bottom
    h3 Loader Position - Horizontal
    select#pos_hoz
      option(value='left') Left
      option(value='center') Center
      option(value='right') Right 
    br
    h3 Loader Title
    input#title
    br
    h3 Loader Subtext
    input#subtext
    br
    h3 Loader Timout
    input#timeout
    br
    br
    button(onclick='buildLoader()') Build Loader
    include /includes/foot.pug
    script.
      function openLoader(id) {
      new loader('#'+id).open(3000);
      }
      function buildLoader(){
      new loader({
      size: $get('#size').value,
      type: $get('#type').value,
      title: $get('#title').value,
      subtext: $get('#subtext').value,
      theme: $get('#theme').value,
      pos: {
      vertical:  $get('#pos_ver').value,
      horizontal: $get('#pos_hoz').value,
      }
      }).build(($get('#timeout').value) ? $get('#timeout').value : 3000);
      }
