- var title = 'Progress demo'
doctype
html(lang='en')
  head
    include /includes/head.pug
      body
        h3= Circular progress bar
        progress.circular
        br
        br
        progress.linear
