- var title = 'Radio'
doctype
html(lang='en')
  head
    include /includes/head.pug
  body
    h3 Radio
    - var colors = ['red', 'pink', 'purple', 'blue', 'cyan', 'teal', 'green', 'yellow', 'amber', 'orange'];
      each color in colors
        div(class='radio '+color)
          if color == 'cyan'
            input(id=color type='radio' name='color' checked)
          else
            input(id=color type='radio' name='color')
          label(for=color)=color
