- var title = 'Switch'
- var css = 'switch'
doctype
html(lang='en')
  head
    include /includes/head.pug
      body
          h3= title
          - var colors = ['red', 'pink', 'purple', 'blue', 'cyan', 'teal', 'green', 'yellow', 'amber', 'orange'];
          each color in colors
            label(class='switch '+color)
              input(type='checkbox')
              span #{color}
              
          h3= title
          - var textLeft = ['Google', 'Microsoft', 'Apple'];
          each text in textLeft
            label(class='switch '+text)
              input(type='checkbox')
              span color
