[nav-content] {
  display: none;
  &.active {
    display: block;
  }
}

.bottomNav {
  width: auto;
  display: inline-block;
  height: 60px;
  &.fixed {
    position: fixed;
    bottom: 0;
    &.center {
      left: 0;
      right: 0;
    }
  }
  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.fill {
    > [nav-id] {
      flex-grow: 1;
      min-width: 20%;
    }
  }
  > [nav-id] {
    min-width: 120px;
    height: 100%;
    margin: 0;
    border-radius: 0;
    line-height: 25px;
    text-align: center;
    text-align: center;
    padding: 8px;
    background: transparent;
    border: none;
    color: #757575;
    transition: 0.5s;
    * {
      display: block;
    }
    &:hover,
    &:focus {
      outline: none;
    }
    &.active {
      color: inherit;
    }
    &.no-active {
      color: #757575 !important;
    }
    > i {
      font-size: 25px;
      text-align: center;
    }
  }
  &.no-label {
    > button {
      min-width: 80px;
      > span {
        height: 0px;
        overflow: hidden;
        transition: height 0.2s;
      }
      &.active {
        > span {
          height: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    > [nav-id] {
      min-width: 0;
      max-width: 100px;
      flex-grow: 1;
    }
  }
}
