@import "_mixins.scss";
@import "_variables.scss";

$size: 40px;
$font: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
$not-active-color: rgba(0, 0, 0, 0.4);
$main-color: color(cyan, base);

.checkbox {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(color(black, base), 0.87);
  font-family: $font;
  font-size: 16px;
  line-height: 1.5;
  padding-right: 15px;
  * {
    user-select: none;
  }
  > input {
    width: $size;
    height: $size;
    position: absolute;
    top: -8px;
    left: -10px;
    display: block;
    margin: 0;
    border-radius: 50%;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    background-color: $not-active-color;
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
  }
  > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    &::before {
      content: "";
      width: 18px;
      height: 18px;
      display: inline-block;
      vertical-align: top;
      box-sizing: border-box;
      margin: 3px 11px 3px 1px;
      border: solid 2px;
      border-color: $not-active-color;
      border-radius: 2px;
      transition: border-color 0.2s, background-color 0.2s;
    }
    &::after {
      content: "";
      width: 10px;
      height: 5px;
      display: block;
      position: absolute;
      top: 3px;
      left: 1px;
      border: solid 2px transparent;
      border-right: none;
      border-top: none;
      transform: translate(3px, 4px) rotate(-45deg);
    }
  }
  > input {
    &:checked,
    &:indeterminate {
      background-color: $main-color;
      & + span::before {
        border-color: $main-color;
        background-color: $main-color;
      }
      & + span::after {
        border-color: rgb(255, 255, 255);
      }
      &:disabled + span::before{
        border-color: transparent;
        background-color: currentColor;
      }
    }
    &:indeterminate {
      & + span::after {
        border-left: none;
        transform: translate(4px, 3px);
      }
    }
  }
  &:hover{
    > input{
      opacity: 0.04;
    }
  }
  > input{
    &:focus{
      opacity: 0.12;
    }
    &:active{
      opacity: 1;
      transform: scale(0);
      transition: transform 0s, opacity 0s;
      & + span::before{
        border-color: $main-color;
      }
    }
    &:checked{
      &:active + span::before{
        border-color: transparent;
        background-color: $not-active-color;
      }
    }
    &:disabled{
      opacity: 0;
      & + span{
        color: rgba(color(black, base), 0.38);
        cursor: initial;
        &::before{
          border-color: currentColor;
        }
      }
    }
  }
  &:hover{
    > input{
      &:focus{
        opacity: 0.16;
      }
    }
  }
}
