@import "_mixins.scss";
@import "_variables.scss";

$light-4-grey: color(grey, light, 4);
$dark-1-grey: color(grey, dark, 1);
$dark-color: rgba(color(black, base), .6);
$white-color: color(white, base);
$black-color: color(black, base);

.list {
  max-width: 100%;
  height: auto;
  list-style: none;
  padding: 8px 0;
  border-radius: 4px;
  background: $white-color;
  > label {
    position: relative;
    display: block;
    color: $black-color;
    line-height: 18px;
    cursor: pointer;
  }
  > li,
  > label,
  > div{
    height: 48px;
    line-height: 48px;
    font-size: 16px;
    padding: 0 16px;
    color: $dark-color;
    font-family: $font;
    &:hover {
      background: $light-4-grey;
    }
    > a {
      text-decoration: none;
      color: $dark-color;
    }
    > div span {
      &.title {
        color: $dark-color;
      }
      &.subtitle {
        display: block;
        font-size: 14px;
        color: $dark-1-grey;
      }
    }
    > i {
      font-size: 24px;
      vertical-align: middle;
      color: $dark-1-grey;
      position: relative;
      margin-right: 32px;
      &.trail-icon {
        margin-right: 0;
        margin-top: 12px;
        display: inline-block;
        float: right;
        position: relative;
      }
    }
    &.two-line {
      padding: 8px 16px;
      height: 56px;
      line-height: 20px;
      display: flex;
      align-items: center;
      .lead-icon {
        margin-right: 16px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        color: $white-color;
        background-color: $dark-1-grey;
        text-align: center;
        float: left;
        border-radius: 50%;
      }
      > .trail-icon {
        display: inline-block;
        margin: 0 0 0 auto;
      }
      + hr {
        margin: 0;
      }
    }
    > .trail {
      float: right;
      height: 100%;
      float: right;
      position: relative;
      top: 12px;
      right: -20px;
    }
    > .lead{

    }
  }
  > hr {
    width: 100%;
    height: 1px;
    border: none;
    background: $dark-color;
  }
}
