@import "_mixins.scss";
@import "_variables.scss";

$color-option-size: 40px;
$color-check-color: #fff;
$active-inner-size: $color-option-size / 1.5;

.picker {
  &[type="date"] {
    background: #2196f3;
    > header {
      width: calc(100% - (24 * 2px));
      margin: 0px auto;
      height: auto;
      padding-top: 20px;
      padding-bottom: 12px;
      > .year,
      .dai {
        cursor: pointer;
        color: rgba(255, 255, 255, 0.6);
        &.active {
          color: #fff;
        }
      }
      > .year {
        font-size: 18px;
        font-family: inherit;
        font-weight: 400;
      }
      > .dai {
        font-size: 30px;
        font-family: inherit;
        display: block;
      }
    }
    > .picker_content {
      height: auto;
      > .calender {
        display: none;
        &.active {
          display: block;
        }
      }
      > .daily {
        height: auto;
        min-height: 300px;
        background: #fff;
        > nav {
          width: 100%;
          height: 45px;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1 1 auto;
          > button {
            background: transparent;
            box-shadow: none;
            transition: 0s !important;
            color: #222;
            cursor: pointer;
            &:nth-child(2) {
              width: calc(100% - 100px);
              margin-top: 0px;
              font-family: "Roboto", sans-serif;
              font-size: 15px;
            }
            &.round {
              width: 35px;
              height: 35px;
              transition: 0s !important;
            }
          }
        }
        > .days {
          width: 100%;
          height: 30px;
          > table {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background: #fff;
            border-collapse: separate;
            border-spacing: 5px 2px;
            th {
              font-size: 13px;
              color: #c2c2c2;
              padding-bottom: 12px;
              &:nth-child(1) {
                color: red;
              }
            }
            tr {
              padding-top: 20px;
            }
            td {
              text-align: center;
              width: 25px;
              height: 25px;
              padding: 6px;
              font-size: 13px;
              border-radius: 50%;
              transition: color 0.5s;
              color: #424242;
              &[day]{
                cursor: pointer;
                &.active {
                  background: #2196f3;
                  color: #fff;
                }
                &:hover {
                  background: #ebebeb;
                }
              }
              &:nth-child(1) {
                color: red;
              }
            }
          }
        }
      }
      > .yearly {
        width: 100%;
        height: 300px;
        overflow-y: scroll;
        text-align: center;
        background: #fff;
        > ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          padding: 0;
          > li {
            font-size: 18px;
            font-family: inherit;
            font-weight: 400;
            padding: 8px;
            cursor: pointer;
            &.set {
              font-size: 26px;
              color: #2196f3;
            }
          }
        }
      }
    }
  }
  
  &[type="color"] {
    width: 100%;
    height: 100%;
    > ul {
      list-style: none;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      > li {
        width: $color-option-size;
        height: $color-option-size;
        border-radius: 50%;
        background: #ccc;
        margin: 4px;
        margin-top: 0;
        &.active {
          display: inline-block;
          position: relative;
          &:before{
            content: "";
            width: $active-inner-size;
            height: $active-inner-size;
            background: rgba(0, 0, 0, .3);
            border-radius: 50%;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
          &:after {
            content: "";
            display: block;
            width: 5px;
            height: 10px;
            border: solid $color-check-color;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
          }
        }
      }
    }
  }
}

