@import "_mixins.scss";
@import "_variables.scss";

.range{
  -webkit-appearance: none;
  user-select: none;
  width: auto;
  height: 2px;
  border-radius: 4px;
  background: rgba(color(grey), .2);
  margin: 0;
  transition: background .5s ease-in-out;
  &::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: color(grey,light,2);
    cursor: pointer;
    transition: all .15s ease-in;
          box-shadow: 0 3px 4px 0 rgba(color(black), 0.14),
            0 3px 3px -2px rgba(color(black), 0.2), 0 1px 8px 0 rgba(color(black), 0.12);
    &:hover{
      background: #1abc9c
    }
  }
  &:hover{
    outline: none;
    background: rgba(color(grey), .6);
  }
  &:focus{
    outline: none;
  }
  &:active{
    &::-webkit-slider-thumb{
      width: 20px;
      height: 20px;
      background: color(white);
    }
  }
}
