@import "_mixins.scss";
@import "_variables.scss";

$snackbar-width: 350px;
$action-snackbar-width: 380px;
$snackbar-height: 60px;
$snackbar-maxWidth: 95%;
$snackbar-radius: 5px;
$modal-position: 2em;

*:hover,
*:focus {
  outline: none;
}

.snackbar {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  > div {
    width: $snackbar-width;
    height: $snackbar-height;
    max-width: $snackbar-maxWidth;
    font-family: $font;
    background: color(grey, dark, 4);
    color: color(grey, light, 2);
    border-radius: $snackbar-radius;
    position: absolute;
    pointer-events: auto;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(color(black), 0.2),
      0 6px 20px 0 rgba(color(black), 0.19);
    > text {
      width: calc(100% - 90px);
      height: 60px;
      float: left;
      color: #fff;
      line-height: 60px;
      text-indent: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    > button {
      display: inline-block;
      float: right;
      margin: 14px;
      height: 30px;
      margin-top: 16px;
      border: none;
      background: transparent;
      color: color(grey, light, 2);
      border-radius: 5px;
      text-transform: uppercase;
      display: inline-block;
      &:nth-child(2) {
        width: 40px;
        height: 40px;
        margin-top: 10px;
        background: rgba(color(grey, dark, 3), 0.1);
        border-radius: 50%;
        transition: all 0.5s linear 0s;
        > i {
          vertical-align: middle;
          font-size: 20px;
        }
      }
      &:nth-child(3) {
        font-size: 14px;
        position: relative;
        left: 20px !important;
      }
    }
  }
  &.action {
    > div {
      width: $action-snackbar-width;
      > text {
        width: calc(100% - 160px);
      }
    }
  }
  &.left {
    > div {
      left: $modal-position;
    }
  }
  &.right {
    > div {
      right: $modal-position;
    }
  }
  &.center {
    > div {
      margin: 0px auto;
      left: 0px;
      right: 0px;
    }
  }

  /*##########################
  Snackbar Animations*/

  &.top {
    &.aniOpen {
      > div {
        @include animation(slideInTop 0.5s 0s ease forwards);
      }
    }
    &.aniClose {
      > div {
        @include animation(slideOutTop 0.5s 0s ease forwards);
      }
    }
  }

  &.bottom {
    &.aniOpen {
      > div {
        @include animation(slideInBottom 0.5s 0s ease forwards);
      }
    }
    &.aniClose {
      > div {
        @include animation(slideOutBottom 0.5s 0s ease forwards);
      }
    }
  }
}

/*################################################################
Animation */

@include keyframes(slideInBottom) {
  from {
    bottom: -100px;
  }
  to {
    bottom: $modal-position / 2;
  }
}

@include keyframes(slideOutBottom) {
  from {
    bottom: $modal-position / 2;
  }
  to {
    bottom: -100px;
  }
}

/*################*/

@include keyframes(slideInTop) {
  from {
    top: -100px;
  }
  to {
    top: $modal-position / 2;
  }
}

@include keyframes(slideOutTop) {
  from {
    top: $modal-position / 2;
  }
  to {
    top: -100px;
  }
}
