@import "_mixins.scss";
@import "_variables.scss";

$not-active-color: rgba(color(black, base), 0.4);
$main-color: color(cyan, base);
$font: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;

.switch {
  z-index: 0;
  position: relative;
  display: inline-block;
  color: rgba(color(black, base), 0.87);
  font-family: $font;
  font-size: 16px;
  line-height: 1.5;
  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  > input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -7px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: $not-active-color;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s 0.1s, transform 0.2s 0.1s;
  }
  > span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding-left: 10px;
    &::before {
      content: "";
      display: inline-block;
      margin: 6px 0 2px 0px;
      border-radius: 7px;
      width: 36px;
      height: 14px;
      position: relative;
      left: -10px;
      background-color: $not-active-color;
      vertical-align: top;
      transition: background-color 0.2s, opacity 0.2s;
    }
    &::after {
      content: "";
      position: absolute;
      top: 2px;
      left: 0px;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      background-color: color(white, base);
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      transition: background-color 0.2s, transform 0.2s;
    }
  }

  > input {
    &:checked {
      left: 6px;
      background-color: $main-color;
      & + span::before {
        background-color: rgba($main-color, 0.4);
      }
      & + span::after {
        background-color: $main-color;
        transform: translateX(16px);
      }
      &:active {
        & + span::before {
          background-color: rgba(color(black, base), 0.38);
        }
      }
    }
  }
  &:hover {
    > input {
      opacity: 0.04;
      &:focus {
        opacity: 0.16;
      }
    }
  }
  > input {
    &:focus {
      opacity: 0.12;
    }
    &:active {
      opacity: 1;
      transform: scale(0);
      transition: transform 0s, opacity 0s;
    }
    & + span::before {
      background-color: rgba(color(black, base), 0.4);
    }
    &:disabled {
      opacity: 0;
      & + span {
        color: color(black, base);
        opacity: 0.38;
        cursor: default;
        &::before {
          background-color: rgba(color(black, base), 0.38);
        }
      }
    }
    &:checked {
      &:disabled + span::before {
        background-color: rgba($main-color, 0.6);
      }
    }
  }
  &.txt-left{
    padding-left: 6px;
    padding-right: 0px;
    > input{
      left: calc(100% - 45px);
      position: absolute;
      &:checked {
        left: calc(100% - 30px);
      }
    }
    > span{
      padding-right: 10px;
      padding-left: 0;
      &::after{
        left: auto;
        right: 16px;
      }
      &::before{
        float: right;
        position: relative;
        left: 0px;
        right: 0px;
      }
    }
  }
}
