@import "_variables.scss";

body {
  margin: 8%;
}

$font: "Roboto", san-serif;

[tip] {
  position: relative;
  &:hover, &:focus{
    &::before,
    &::after {
     display: block;
    }
    
    &::after{
      display: block;
    }
  }
  
  &::before {
      content: "";
      max-width: 1px;
      position: absolute;
      left: 10px;
      top: -7px;
      border-width: 5px;
      border-style: solid;
      border-color: #222 transparent transparent transparent;
      z-index: 2;
      display: none;
  }
  
  &::after {
    content: attr(tip);
    width: auto;
    min-width: 13px;
    height: 12px;
    position: absolute;
    left: 0px;
    top: -35px;
    background: #222;
    text-align: center;
    text-align: center;
    color: #fff;
    padding: 8px;   
    text-transform: uppercase;
    font-family: $font;
    font-size: 10px;
    border-radius: 5px;
    pointer-events: none;
    display: none;
    overflow: hidden;
    white-space: nowrap;
    z-index: 2;
  }
  
  &.tip-arr-center{
    &::after{
      left: 50%;
      top: -7px;
      transform: translateX(-50%) translateY(-100%);
    }
    &::before{
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &.tip-arr-left{
    &::after{
      right: auto;
      left: 0px;
    }
    &::before{
      right: auto;
      left: 12px;
    }
  }  
  &.tip-arr-right{
    &::after{
      left: auto;
      right: 0px;
    }
    &::before{
      left: auto;
      right: 12px;
    }
  }
  
  &.tip-left{
    &::after{
      left: auto;
      right: calc(100% + 7px);
      top: 50%;
      transform: translateY(-50%);
    }
    &::before{
      right: auto;
      left: -7px;
      top: 50%;
      transform: translateY(-50%);
      border-color: transparent transparent transparent #222;
    }
  }
  &.tip-right{
    &::after{
      right: auto;
      left: calc(100% + 7px);
      top: 50%;
      transform: translateY(-50%);
    }
    
    &::before{
      left: auto;
      right: -7px;
      top: 50%;
      transform: translateY(-50%);
      border-color: transparent #222 transparent transparent;
    }
  }
  
  &.tip-down{
    &::after{
      left: 0px;
      top: auto;
      bottom: -35px;
    }
    
    &::before{
      left: 10px;
      top: auto;
      bottom: -7px;
      border-color: transparent transparent #222 transparent;
    }
  }
}

